<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Añadir dirección</title>
  <link rel="stylesheet" href="/frontend/public/css/components/agregar_direccion.css">
  <script src="/frontend/public/js/components/agregar_direccion.js"></script>
</head>
<body>

  <form class="form-content" id="form-direccion">
    <h2>Añadir la dirección</h2>

    <input type="text" placeholder="Barrio" name="barrio" class="formulario__input">
    <input type="text" placeholder="Número de dirección" name="numero" class="formulario__input">
    <input type="text" placeholder="Tipo de vía" name="via" class="formulario__input">
    <input type="text" placeholder="Código postal" name="codigo" class="formulario__input">
    <input type="text" placeholder="Departamentos" name="departamento" class="formulario__input">
    <input type="text" placeholder="Municipios" name="municipio" class="formulario__input">
    <input type="text" placeholder="Información adicional" name="info" class="formulario__input">

    <button type="submit" class="formulario__boton formulario__boton--registrar">Registrar</button>
  </form>
</body>
</html>