<header class="Nombre">
    <h2>Emanuel Quevedo Escobar</h2>
</header>
  <main>
    <article class="productos-content">
      <figure>
        <img src="/frontend/public/img/LecheVaca.jpeg" alt="Leche de vaca">
        <figcaption>Litro de leche de vaca</figcaption>
      </figure>

      <section>
        <p class="precio">3.000$</p>
        <button class="btn-comprar">Comprar</button>
      </section>

      <section class="descripcion">
        <h3>Descripción del Producto</h3>
        <p><em>
          Su sabor varía desde dulce hasta ligeramente ácido, dependiendo de la variedad y el grado de madurez. 
          Es uno de los ingredientes más versátiles y comunes en la cocina mundial, utilizado en ensaladas, salsas, guisos, jugos y conservas.
        </em></p>
      </section>
    </article>
  </main>