<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/frontend/public/css/variables.css">
  <link rel="stylesheet" href="/frontend/public/css/components/vista_descripcion_producto.css">
  <link rel="stylesheet" href="/frontend/public/css/components/vista_producto.css">


  <script src="/frontend/public/js/pages/vista_descripcion_producto.js" defer></script>
  <script src="/frontend/public/js/pages/vista_producto.js" defer></script>

  <title>SenaMerch</title>
  <body> 
    <div class="producto-container"></div>
    <div class="productos-container"></div>

  </body>



  

</head>